@{
    ViewData["Title"] = "API Main";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/dotnet-core">Deploying Web apps with ASP.NET Core</a>.</p>
</div>
