@page "/logout"
@inject NavigationManager NavManager
@inject IAuthenticationService AuthService

<h3>LogOut</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthService.Logout();

        NavManager.NavigateTo("/");
    }

}
